<section class="login-wrapper">
  <div class="side-content">
    
    <div class="logo-container">
      <div class="logo-font">ILLARIY<span> Travel</span></div>
    </div>

    <div class="login-card">
      <h3 class="header-title">INICIO DE SESIÓN</h3>
      
      <form [formGroup]="myForm" class="login-form">
        <div class="input-group-custom">
          <input type="text" formControlName="usuario" class="form-control" placeholder="Nombre de Usuario">
        </div>
        
        <div class="input-group-custom">
          <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
        </div>
        
        <div class="action-area">
          <button (click)="login()" class="btn-ingresar">INGRESAR</button>
        </div>
      </form>
    </div>

  </div>
</section>